# Images are maintained in local asset storage; keep metadata and manifests.
*.[pP][nN][gG]
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[wW][eE][bB][pP]
*.[gG][iI][fF]
*.[bB][mM][pP]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[tT][gG][aA]
*.[pP][sS][dD]
*.[pP][sS][bB]
*.[eE][xX][rR]
*.[hH][dD][rR]
*.[aA][vV][iI][fF]
*.[iI][cC][oO]
*.[sS][vV][gG]
*.[dD][dD][sS]
*.[kK][tT][xX]
*.[kK][tT][xX]2
*.[aA][sS][eE][pP][rR][iI][tT][eE]
